:root {
  --gold: #daa520ff;
}

.has-text-gold {
  color: var(--gold) !important;
}

.has-background-gold {
  background-color: var(--gold) !important;
}

.border-gold {
  border: 3px solid var(--gold);
}
